{% extends 'base.html'%}
{% block title%}
{% load static %}
About Us
{% endblock %}
{% block content %}

<div class="fs-2 text-center my-2"><h1>About <b class="text-ocolor">US
    <i class="fa-solid fa-circle-info fa-spin"></i></h1>
</b></div></br>
<hr>



<div class="container-fluid newSection my-4">
    <h3 class="sectionTitle my-2">ONLINE SHOPPING MADE EASY AT <span class="themeText"><b class="text-ocolor">SHAILESH WORLD <i class="fa-solid fa-cart-shopping"></i></b></span> </h3>
    <p class="sectionContent">
        If you would like to experience the best of online shopping for men, women and kids in India, you are at the right place. Myntra is the ultimate destination for fashion and lifestyle, being host to a wide array of merchandise including clothing, footwear, accessories, jewellery, personal care products and more. It is time to redefine your style statement with our treasure-trove of trendy items. Our online store brings you the latest in designer products straight out of fashion houses. You can shop online at Myntra from the comfort of your home and get your favourites delivered right to your doorstep.
    </p>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 mt-4">
                <img src="{% static 'images/5.jpeg' %}" style="width:500px; heigh:100px">
            </div>
            <div class="col-sm-6 mt-4">
                <h4 class="divHeading">BEST ONLINE SHOPPING SITE IN INDIA FOR FASHION</h4>
                <p>Online shopping for women at Myntra is a mood-elevating experience. Look hip and stay comfortable with chinos and printed shorts this summer. Look hot on your date dressed in a little black dress, or opt for red dresses for a sassy vibe. Striped dresses and T-shirts represent the classic spirit of nautical fashion. Choose your favourites from among Bardot, off-shoulder, shirt-style, blouson, embroidered and peplum tops, to name a few. Team them up with skinny-fit jeans, skirts or palazzos. Kurtis and jeans make the perfect fusion-wear combination for the cool urbanite. Our grand sarees and lehenga-choli selections are perfect to make an impression at big social events such as weddings. Our salwar-kameez sets, kurtas and Patiala suits make comfortable options for regular wear.</p>

            </div>
        </div>
    </div>
</div>





<div class="bg-info">
<div class="text-center"><img src="{% static 'images/24.png' %}"></div>
<div class="text-center"><img src="{% static 'images/25.png' %}"></div
><div class="text-center"><img src="{% static 'images/26.png' %}"></div>
<div class="text-center"><img src="{% static 'images/28.png' %}"></div>
</div>

{% endblock %}